/*navbar is here */
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: #800 !important;
}
.navbar .navbar-brand{
    color : #FFF;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav{
    margin : 0 20;
}
.navbar .nav-item a{
    color: #FFF !important;
}

.navbar .dropdown-menu{
    background-color: #800;
}
.dropdown-item:hover{
    background-color: rgba(0,0,0,0.3);
}

/*starting portion*/
.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
@media (max-width: 85px) {
  .masthead {
    padding: 15rem 0 1rem 0;
    min-height: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 35%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 85px) and (max-width: 125px) {
  .masthead {
    padding: 15rem 0 1rem 0;
    min-height: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 38%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 125px) and (max-width: 150px) {
  .masthead {
    padding: 15rem 0 1rem 0;
    min-height: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 150px) and (max-width: 200px) {
  .masthead {
    padding: 15rem 0 2rem 0;
    min-height: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 200px) and (max-width: 300px) {
  .masthead {
    padding: 15rem 0 2rem 0;
    min-height: 6rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 45%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 300px) and (max-width: 346px) {
  .masthead {
    padding: 15rem 0 3rem 0;
    min-height: 8rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 346px) and (max-width: 400px) {
  .masthead {
    padding: 15rem 0 3rem 0;
    min-height: 8rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 400px) and (max-width: 500px) {
  .masthead {
    padding: 15rem 0 5rem 0;
    min-height: 10rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 40%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 500px) and (max-width: 615px) {
  .masthead {
    padding: 15rem 0 8rem 0;
    min-height: 15rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 615px) and (max-width: 750px) {
  .masthead {
    padding: 15rem 0 12rem 0;
    min-height: 20rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 60%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 750px) and (max-width: 845px) {
  .masthead {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 80%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
@media (min-width: 845px) and (max-width: 930px) {
  .masthead {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/labs.jpg");
    background-position: center 80%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
  }
}
.masthead h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.726), rgba(238, 231, 231, 0.664));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

  .btn-primary{
    color: #fff;
    background-color: #800;
    border-color: #800;
  }
  .btn-primary:hover{
    color: #fff;
    background-color: #800;
    border-color: #800;
    transform:scale(1.2);
  }

/* section area*/
h2{
    color:#800;
}
section{
    padding-left: 45px;
    padding-right: 45px;
}
h3{
    background: linear-gradient(to right, #525faa 100%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
        background-clip: text;
    animation-name: labname;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    font-size: "Comfortaa";
}
@keyframes labname {
    from{
        background: linear-gradient(to right, #525faa 100%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
    to{
        background: linear-gradient(to right, #52aaa6 100%, #6ca5a7 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    }
}

/*containerising the lab*/

.responsive {
  width: 100%;
  height: auto;
}