@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("../vendor/fontawesome/css/all.min.css");
@import url("../fonts/Proxima-Nova-Regular.woff2");


/* FONT import from*/
@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/Proxima-Nova-Regular.woff2");
}

/* Modify the background color */
          
.navbar-custom {
    background-color: #800000;
    font-family: Comic Neue;
}
/* Modify brand and text color */
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
    font-family:sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    letter-spacing: 0.025em;
    line-height: 1.65;
}


/*For main title of the page */
.h1 {

    position: absolute;
    left: 180px;
    top: 95px;
    font-size: 31.5pt;
}


/* For main description of page*/
.text-left {
    font-size: 18pt ;
    font-family: proxima-nova;
    position: absolute;
    left: 180px;
    right: 180px;
    top: 200px;
}


/* For Left paragraph's sub header*/
.header-left {
    position: absolute;
    left: 180px;
    top: 300px; 
    font-size: 18pt;
    font-weight: 500;
}

/* For Right Paragraph's sub header */
.header-right {
    position: absolute;
    left: 900px;
    right: 900px;
    top: 300px; 
    font-size: 18pt;
    font-weight: 500;
    font-family: Proxima Nova;
}


/* For Right paragraph desp */
.pararight {

    position: absolute;
    left: 900px;
    top: 380px; 
    font-size: 18pt;
    font-family: Proxima Nova;  
}

/* For rounded corner shapes used for Supper important deets */
   #rcorners2 {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 1170px;
    height: 200px;  
    font-size: 18pt;
    padding: 1em 1em 0 2em;
    color: #000000;
    font-family: Proxima Nova;
    position: absolute;
    left: 180px;
    right: 180px;
    top: 540px;
 }
/* For rounded corner shapes used for HumanLib important deets */
 #rcorners3 {
    border-radius: 25px;
    border: 2px solid #000000;
    padding: 20px; 
    width: 1170px;
    height: 200px;  
    font-size: 18pt;
    
    color: #000000;
    font-family: Proxima Nova;
    position: absolute;
    left: 180px;
    right: 180px;
    top: 490px;
 }
/* For Paragraph below rcorners, used in Human lib */
 .parabelow {
    font-size: 18pt;
    color: #000000;
    font-family: Proxima Nova;
    position: absolute;
    left: 180px;
    right: 180px;
    top: 690px;

 }
 
/* For Filter Elements, used in DiscoverFifthrows */

.container {
    overflow: hidden;
    right: 100px;
    top: 1000px;
    left: 500px;
    
  }
  
  .filterDiv {
    float: left;
    
    background-color: #2196F3;
    color: #ffffff;
    position:absolute;
    right: 100px;
    top: 1000px;
    left: 500px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none; /* Hidden by default */
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
    right: 100px;
    top: 1000px;
    left: 500px;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    right: 100px;
    top: 1000px;
    left: 500px;
    width: 100px;
    cursor: pointer;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
    right: 100px;
    top: 1000px;
    left: 500px;
    width: 100px;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #666;
    right: 100px;
    top: 1000px;
    left: 500px;
    width: 100px;
    color: white;
  }
  .image_guide {
    position: relative;
    padding-top: 10%;
    text-align: center;
    color:white;
    font-size: large;
  }
  .center_image {
    position: absolute;
    text-align: left;
    top:60%;
    font-size: 23px;
    left: 40%;
    
    transform: translate(-50%, -50%);
  }

  .bottom_image {
    position:absolute;
    top:90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* display filter for image */
  .guide_img{
    filter: blur(3px) saturate(2);
  }

  .guide_btn{
    color: #ffffff;
    background: #800000;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:none;
    border-radius: 30px;
  }
  .guide_btn:hover{
    color: #ffffff;
    background: #800000;
    filter: drop-shadow(8px 4px 10px black);
    font-size: 12px;
    border:none;
    text-align: center;
    cursor: pointer;
    text-decoration: none;  
    white-space: normal;
    border-radius: 30px;
    transform: scale(1.2);
  }

  .eventcalendar_btn{
    color: #800000;
      background: #ffffff;
      
      margin-left: 0px;
      margin-right: 10px;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      
      border-color: #800000;
      border-radius: 20px;
   
  }

  /*
  put in div id 
  #nav-placeholder{

  }
  */
  
  /* nav */
  html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: #800 !important;
}
.navbar .navbar-brand{
    color : #FFF;
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar .navbar-nav{
    margin : 0 20;
}
.navbar .nav-item a{
    color: #FFF !important;
}

.navbar .dropdown-menu{
    background-color: #800;
}
.dropdown-item:hover{
    background-color: rgba(0,0,0,0.3);
}

section{
  float: left;
  padding-left: 50px;
  padding-right: 25px;
  
  
}

/*profile card*/

  
.profile-card-4 {
  max-width: 300px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 50px auto;
  cursor: pointer;
  
}

.profile-card-4 img {
  transition: all 0.25s linear;
}

.profile-card-4 .profile-content {
  position: relative;
  padding: 10px;
  background-color: #FFF;
}

.profile-card-4 .profile-name {
  font-weight: bold;
  position: absolute;
  left: 0px;
  right: 0px;
  top: -70px;
  color: #FFF;
  font-size: 17px;
}

.profile-card-4 .profile-name p {
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1.5px;
}

.profile-card-4 .profile-description {
  color: #777;
  font-size: 12px;
  padding: 10px;
}


.profile-card-4 .profile-content::before {
  content: "";
  position: absolute;
  height: 20px;
  top: -10px;
  left: 0px;
  right: 0px;
  background-color: #FFF;
  z-index: 0;
  transform: skewY(3deg);
}

.profile-card-4:hover img {
  transform: rotate(5deg) scale(1.1, 1.1);
  filter: brightness(110%);
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../images/human_lib_abt.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}