/* Modify the background color */
          
.navbar-custom {
    background-color: #800000;
}
/* Modify brand and text color */
  
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
    font-family: proxima-nova;
}
